.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
/dist
/Resources/AppIcon/AppIcon-1024.png
/Resources/AppIcon/AppIcon.iconset
/Resources/AppIcon/NovelOSMac.icns
